/* start of home page */

@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap');

*{
    margin: 0;
    top: 0;
    scroll-behavior: smooth;
}
/* Nav */
header {
    /*box-shadow: 0 4px 17px rgba(0, 0, 0, .1);*/
    top: 0;
    margin: 0;
    z-index: 1;
    position: fixed;
    display: block;
    background-color: white;
    width: 100%;
    height: 75px;
}
.logo{
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 60px;
    line-height: 45px;
}

.main ul{ 
    float: right;
    margin-right: 20px;
    margin-top: 25px;
    font-size: large;
    letter-spacing: .7px;
}
.main li {
    display: inline-block;
    margin-left: 20px;
}
.main a {
    text-decoration: none;
    color: #333;
}

/* end nav */

.content{
    background-color: #D69E6B;
    width: 100%;
    height: 250px;
    margin-top: 75px;
    display: fixed;
}
.content h1{
    align-items: center;
    padding: 60px;
    font-size: 32px;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    width: 84%;
    height: 20px;
}
.content img {
    width: 35%;
    height: 100%;
    float: right;
}

.container-button {
    position:relative;
    margin-top: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #F2AE2E;
    margin: 0 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn img{
    width: 90px;
}
/* end of home page */

/*start of exp page */

.text {
    background-color: #D69E6B;
    width: 100%;
    height: 30px;
    margin-top: 75px;
    display: block;
}

.text h1 {
    font-family: "Elsie Swash Caps", serif;
    color: #732E07; 
    font-weight: 400;
    font-style: normal;
    padding: 30px; 
    font-size: 80px;
    text-align: center;
}

.btdogs img{
    margin-top: 250px;
    max-width: 120px;
    height: 121px;
    margin-left: 101px;
    border-radius: 10px;

}

/* teste css */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 220px;
    text-align: center;
}

.dog {
    display: inline-block;
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.dog img {
    max-width: 100%;
    border-radius: 5px;
}

.dog h2 {
    margin-top: 10px;
}

.dog p {
    font-size: 14px;
}

.dog button{
    background: #F2AE2E;
    cursor: pointer;
    font-family: "Kadwa", serif;
    color: #732E07;
;
}
