.main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 999;
}
.main .logo{
    float: left;
    margin-left: 20px;
    font-size: 40px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
}
.main ul{ 
    float: right;
    margin-right: 20px;
}
.main ul li {
    display: inline-block;
    margin-left: 20px;
}
.main ul li:first-child {
    margin-left: 0;
}
.main ul li a {
    text-decoration: none;
    color: #333;
}
#Inicio {
    display: flex;

}
#Inicio img {
    width: 400px;
    height: 277px;
}
#Inicio .content {
    flex: 1; 
}
#Inicio h1 {
    background-color: #D69E6B;
    font-size: 32px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    width: 100%;
    height: 250px;
    top: 150px;
}

.content ul li{
    margin-left: 50px;
    position: relative;
    left: -415px;
    bottom: -55px;
}
